@charset "UTF-8";
/*BASE*/
/* COLORS */
/*SIZES*/
/* FLEX */
/* STRUCTURE */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "text";
  font-size: 1em;
  max-width: 100%;
  background-color: white;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
}

section,
main {
  width: 100%;
}

/* INDEX TITLES STYLES & SIZES */
.index h1 {
  font-family: "text-bold";
  font-size: 1.8em;
  margin: inherit;
}
.index h2 {
  padding-left: 20px;
  font-family: "text-bold";
  font-size: 1.8em;
  margin: inherit;
}
.index h3,
.index h4 {
  font-family: "text-medium";
  font-size: 1.3em;
  margin: inherit;
}

/* MENU TITLES STYLES & SIZES */
.menu h1 {
  font-family: "title";
  padding-left: 20px;
}
.menu h2 {
  font-family: "text-light";
  font-size: 16px;
  width: 10%;
  margin-left: 15px;
  border-bottom: 3px solid #99E2D0;
}

/* LINKS & LISTS STYLES */
button {
  cursor: pointer;
}

a,
li,
ul,
ol {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* TABLETTE */
@media (min-width: 768px) {
  /* INDEX TITLES STYLES & SIZES */
  .index h1 {
    font-family: "text-bold";
    font-size: 1.8em;
    margin: inherit;
  }
  .index h2 {
    padding-left: 80px;
    font-family: "text-bold";
    font-size: 1.8em;
    margin: inherit;
  }
  .index h3,
.index h4 {
    font-family: "text-medium";
    font-size: 1.3em;
    margin: inherit;
  }

  /* MENU TITLES STYLES & SIZES */
  .menu h1 {
    font-size: 3em;
  }
  .menu h2 {
    font-size: 1.8em;
    width: 7%;
    margin-left: 25px;
  }
  .menu h3 {
    font-family: "text-medium";
    font-size: 1.6em;
  }
  .menu span {
    font-size: 1.3em;
  }
}
@media (min-width: 1025px) {
  html {
    box-shadow: 0px 5px 6px 0px lightgrey;
    display: table;
    margin: auto;
    height: 100%;
    width: 100%;
  }

  body {
    font-size: 1.1em;
  }

  main {
    width: 80%;
    margin: auto;
  }

  .menu h1 {
    text-align: center;
    padding-left: 0;
  }
}
/*Roboto*/
@font-face {
  font-family: "text";
  src: url("../../sources/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "text-bold";
  src: url("../../sources/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "text-medium";
  src: url("../../sources/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "text-light";
  src: url("../../sources/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*Shrikhand*/
@font-face {
  font-family: "title";
  src: url("../../sources/fonts/Shrikhand-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.fa-heart::before {
  z-index: 0;
  opacity: 1;
  position: absolute;
  -webkit-text-stroke: 3px black;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.fa-heart::after {
  content: "";
  z-index: 1;
  opacity: 0;
  position: absolute;
  background: -webkit-linear-gradient(0deg, #9356DC 10%, #FF79DA 100%);
  background: -o-linear-gradient(0deg, #9356DC 10%, #FF79DA 100%);
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-stroke: 3px black;
}
.fa-heart:hover::after {
  opacity: 1;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}

.button--gradientPurple {
  box-shadow: 0px 5px 6px 0px lightgrey;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356DC 10%, #FF79DA 100%);
  color: white;
  border: none;
  padding: 15px 32px;
  font-size: 16px;
  position: relative;
  z-index: 1;
  /* CLEAR ON HOVER EFFECT */
}
.button--gradientPurple::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  background: #ff7edb;
  opacity: 0;
  z-index: -1;
  transition: opacity 200ms;
  box-shadow: 0px 5px 6px 0px grey;
}
.button--gradientPurple:hover::before {
  opacity: 1;
}

.button--grey {
  border-radius: 20px;
  background: #F2F2F2;
  color: black;
  border: none;
  padding: 23px 32px;
  font-size: 16px;
  box-shadow: 0px 5px 6px 0px lightgrey;
}

.button--lightPurple {
  border-radius: 20px;
  background: rgba(147, 86, 220, 0.15);
  color: black;
  border: none;
  padding: 23px 32px;
  font-size: 16px;
  box-shadow: 0px 5px 6px 0px lightgrey;
}

.button--white {
  border-radius: 20px;
  background: white;
  color: black;
  border: none;
  font-size: 16px;
  box-shadow: 0px 5px 6px 0px lightgrey;
}

/* TABLETTE */
@media (min-width: 768px) {
  .button--grey {
    padding: 27px 32px;
    font-size: 19px;
    box-shadow: 0px 5px 6px 0px lightgrey;
  }

  .button--lightPurple {
    padding: 27px 32px;
    font-size: 19px;
  }

  .button--gradientPurple {
    font-size: 20px;
  }
}
@media (min-width: 1025px) {
  .button--gradientPurple {
    font-size: 23px;
  }
}
/* ANIMATED HEADER */
.header--animate {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  animation: headerLoading 2s ease-in;
  /*SPINNER */
}
@keyframes headerLoading {
  0% {
    height: 100%;
    position: fixed;
  }
  90% {
    height: 100%;
  }
  99% {
    position: fixed;
  }
  100% {
    height: 10%;
  }
}
.header--animate::after {
  content: "";
  position: absolute;
  opacity: 0;
  height: 50px;
  width: 50px;
  margin-bottom: 150px;
  border: solid 10px black;
  border-bottom-color: #9356DC;
  border-radius: 50%;
  animation: 1.8s linear headSpinner;
  animation-play-state: running;
  will-change: transform;
}
@keyframes headSpinner {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(0turn);
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0) rotate(3turn);
  }
}

.header-block {
  display: flex;
  flex-direction: column;
}

.header__title {
  box-shadow: 0px 5px 6px 0px lightgrey;
  font-size: 1.8em;
  font-family: "title";
  text-align: center;
  padding: 15px 0 5px 0;
  z-index: 2;
}

.header-menu {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.header-menu a:first-child {
  position: absolute;
  left: 20px;
  color: #383838;
}
.header-menu a:first-child :hover {
  color: #9356DC;
}

.header__location {
  background: #e4e4e4;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
  color: #383838;
  width: 100%;
  z-index: 1;
}
.header__location > .fa-map-marker-alt {
  margin-right: 15px;
}

@media (min-width: 768px) {
  .header__title {
    padding: 20px 0 15px 0;
  }
  .header__title .fa-arrow-left {
    font-size: 1em;
  }
}
@media (min-width: 1025px) {
  .header--animate {
    animation: headerLoading 2s ease-in;
    /*SPINNER */
  }
  @keyframes headerLoading {
    0% {
      height: 100%;
    }
    80% {
      height: 100%;
    }
    100% {
      top: 0%;
      height: 10%;
    }
  }
  .header--animate::after {
    height: 100px;
    width: 100px;
    margin-bottom: 200px;
    border: solid 15px black;
    border-bottom-color: #9356DC;
    border-radius: 50%;
    animation: 2s headSpinner spinner;
  }

  .header__title {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
  }
  .header__title + * {
    padding-top: 80px;
  }

  .header__location {
    width: 80%;
    margin: auto;
  }
  .header__location > .fa-map-marker-alt:hover {
    color: #99E2D0;
  }
}
.explore-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #F2F2F2;
  text-align: center;
  padding: 40px;
}

.explore__description {
  font-family: "text-light";
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .explore-block {
    text-align: initial;
    padding: 50px;
  }
}
/* Restaurants containers */
#section-restaurants {
  margin-top: 50px;
}

.restaurants-block {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  align-content: center;
  height: 100%;
  width: 100%;
  padding-top: 30px;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-self: center;
  width: 90%;
  margin-bottom: 50px;
}

.restaurants-cards > a {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
}

.card-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 6px 0px lightgrey;
  border-radius: 20px;
  background-color: white;
}

.card__label {
  color: green;
  background-color: #99E2D0;
  padding: 2px 10px 2px 10px;
  border: solid transparent 1px;
  position: absolute;
  right: 10%;
  margin: 15px 0px 5px 0px;
  cursor: default;
}

.card__photo img {
  height: 200px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.card__description {
  padding: 10px 0px 15px 20px;
  display: grid;
  grid-template-columns: 85% 15%;
  grid-auto-flow: column;
}
.card__description h3 {
  grid-column: 1;
  grid-row: 1;
}
.card__description p {
  grid-column: 1;
  grid-row: 2;
  font-family: "text-light";
  margin: 0;
  padding: 0;
}
.card__description i {
  grid-column: 2;
  grid-row: 1/3;
  text-align: center;
  align-self: center;
  font-size: 2em;
}

@media (min-width: 768px) {
  .restaurants-cards {
    margin-top: 15px;
    align-self: center;
    width: 80%;
  }
  .restaurants-cards a {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .card__label {
    padding: 2px 10px 2px 10px;
    right: 12%;
    margin: 15px 0px 5px 0px;
  }

  .card__photo img {
    height: 315px;
  }
}
@media (min-width: 1025px) {
  #section-restaurants {
    margin-top: 30px;
  }

  .restaurants-block {
    padding-top: 30px;
  }

  .restaurants-cards {
    display: grid;
    column-gap: 55px;
    row-gap: 20px;
    width: 80%;
    margin-top: 30px;
  }
  .restaurants-cards > a {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
  }

  .card1,
.card2 {
    grid-row: 1;
  }

  .card3,
.card4 {
    grid-row: 2;
  }

  .card1,
.card3 {
    grid-column: 1;
  }

  .card2,
.card4 {
    grid-column: 2;
  }

  .card__label {
    position: inherit;
    padding-left: 20px;
    margin: -5px 0 0 0;
    order: 2;
    animation: labelShowDown 3.5s;
  }
  @keyframes labelShowDown {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .card__photo {
    order: 1;
  }
  .card__photo img {
    height: 260px;
    animation: imgShowUp 3s;
  }
  @keyframes imgShowUp {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .card__description {
    order: 3;
  }
}
.work-block {
  padding: 30px 0 30px 0;
}

.work-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  margin-top: 20px;
}

.work-selection {
  display: flex;
  align-items: center;
  width: 80%;
}

.selection__label {
  margin-right: -15px;
  color: white;
  background-color: #9356DC;
  padding: 3px 9px 3px 9px;
  border-radius: 50%;
  z-index: 1;
}

.selection__button {
  width: 100%;
  font-family: "text-medium";
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.selection__button :nth-child(1) {
  color: grey;
  width: 35px;
  text-align: center;
  margin-right: 10px;
}
.selection__button span:nth-child(2) {
  width: 90%;
  text-align: left;
  color: black;
}
.selection__button .fa-store {
  color: #9356DC;
}

.button--grey span {
  color: grey;
}

.button--lightPurple span {
  color: #9356DC;
}

/* TABLETTE */
@media (min-width: 768px) {
  .work-selection {
    width: 60%;
  }

  .selection__button :nth-child(1) {
    width: 50px;
    margin-right: 20px;
  }
  .selection__button span:nth-child(2) {
    width: 95%;
    text-align: left;
    color: black;
  }
}
/* DESKTOP */
@media (min-width: 1025px) {
  .work-selection {
    width: 30%;
  }
  .work-selection > a:hover {
    background: rgba(147, 86, 220, 0.2);
    box-shadow: 0px 5px 6px 0px lightgrey;
  }
  .work-selection > a:hover > i {
    color: #9356DC;
  }

  .selection__button :nth-child(1) {
    font-size: 22px;
    color: grey;
    width: 100px;
    text-align: center;
    margin-right: 10px;
  }
  .selection__button span:nth-child(2) {
    font-size: 18px;
    width: 90%;
    text-align: left;
    color: black;
  }
  .selection__button .fa-store {
    color: #9356DC;
  }

  .selection__label {
    font-size: 20px;
    padding: 5px 12px 5px 12px;
  }
}
footer {
  padding: 20px 0 20px 0px;
  margin: 0px;
  background-color: #383838;
  color: white;
  padding-bottom: 30px;
}
footer > * {
  padding-left: 20px;
}
footer p {
  font-family: "title";
  font-size: 1.3em;
}

ul li {
  padding-bottom: 5px;
}

.fa-utensils + a {
  margin-left: 9px;
}

.fa-hands-helping + a {
  margin-left: 3px;
}

@media (min-width: 1025px) {
  footer {
    padding-top: 10px;
  }

  footer > * {
    padding-left: 60px;
  }

  ul {
    display: grid;
    grid-template-columns: 25% 25%;
  }

  li:nth-child(1), li:nth-child(2) {
    grid-column: 1;
  }
  li:nth-child(3), li:nth-child(4) {
    grid-column: 2;
  }
  li:nth-child(1), li:nth-child(3) {
    grid-row: 1;
  }
  li:nth-child(2), li:nth-child(4) {
    grid-row: 2;
  }
}
/*MENU*/
.section-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #F2F2F2;
}

.menu-photo {
  width: 100%;
  z-index: 2;
}
.menu-photo > img {
  object-fit: cover;
  height: 320px;
  width: 100%;
  animation: imgShowUp 2s ease-in-out;
}
@keyframes imgShowUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu-block {
  border-radius: 45px 45px 0 0;
  margin-top: -50px;
  padding-top: 10px;
  z-index: 3;
  background-color: #F2F2F2;
}

.menu__title {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 40px;
}
.menu__title h1 {
  font-size: 28px;
}
.menu__title > .fas {
  font-size: 2em;
}

.starters,
.dishes,
.desserts {
  margin-top: 30px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 270px;
}

.cards--xl {
  height: 360px;
}

.starters-card,
.dishes-card,
.desserts-card {
  width: 95%;
  position: relative;
  transform-origin: top;
}
.starters-card a,
.dishes-card a,
.desserts-card a {
  overflow: hidden;
}
.starters-card:nth-child(1),
.dishes-card:nth-child(1),
.desserts-card:nth-child(1) {
  animation: firstFromX 2.4s ease-in;
}
@keyframes firstFromX {
  from {
    opacity: 0;
    top: 20px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
.starters-card:nth-child(2),
.dishes-card:nth-child(2),
.desserts-card:nth-child(2) {
  animation: secondFromX 2.5s ease-in;
}
@keyframes secondFromX {
  from {
    opacity: 0;
    top: 25px;
  }
  25% {
    opacity: 0;
    top: 25px;
  }
  30% {
    top: 25px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
.starters-card:nth-child(3),
.dishes-card:nth-child(3),
.desserts-card:nth-child(3) {
  animation: thirdFromX 2.5s ease-in;
}
@keyframes thirdFromX {
  from {
    opacity: 0;
    top: 5px;
  }
  30% {
    opacity: 0;
    top: 5px;
  }
  35% {
    top: 5px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
.starters-card:nth-child(4),
.dishes-card:nth-child(4),
.desserts-card:nth-child(4) {
  animation: thirdFromX 2.8s ease-in;
}
@keyframes thirdFromX {
  from {
    opacity: 0;
    top: 46px;
  }
  35% {
    opacity: 0;
    top: 46px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

.starters__button,
.dishes__button,
.desserts__button {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "text-medium";
  display: flex;
  justify-content: center;
  align-content: center;
}

.starters__description,
.dishes__description,
.desserts__description {
  display: grid;
  grid-template-columns: 85% 15%;
}
.starters__description h3,
.starters__description p,
.dishes__description h3,
.dishes__description p,
.desserts__description h3,
.desserts__description p {
  margin: 3px 0 3px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 90%;
}
.starters__description h3,
.dishes__description h3,
.desserts__description h3 {
  grid-column: 1;
  grid-row: 1;
  padding: 10px 0px 0px 15px;
}
.starters__description p,
.dishes__description p,
.desserts__description p {
  font-family: "text-light";
  grid-column: 1;
  grid-row: 2;
  padding: 0px 0px 10px 15px;
}
.starters__description span,
.dishes__description span,
.desserts__description span {
  grid-column: 2;
  grid-row: 2;
  color: #383838;
}
.starters__description:hover,
.dishes__description:hover,
.desserts__description:hover {
  /* MOOVING */
}
.starters__description:hover span,
.dishes__description:hover span,
.desserts__description:hover span {
  transition: transform 2s cubic-bezier(0.05, 1.05, 0.07, 1.01);
  transform: translateX(-60px);
}
.starters__description:hover .selected,
.dishes__description:hover .selected,
.desserts__description:hover .selected {
  transition: transform 2s cubic-bezier(0.05, 1.05, 0.07, 1.01);
  transform: translateX(-100px);
  left: 100px;
  height: 100%;
  width: 100%;
  grid-row: 1/3;
  grid-column: 2;
  padding-top: 25px;
  position: relative;
  background-color: #99E2D0;
}
.starters__description:hover .selected::after,
.dishes__description:hover .selected::after,
.desserts__description:hover .selected::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  color: white;
  margin-left: 30px;
  font-size: 30px;
  position: absolute;
  animation: 800ms linear spinnerCheck;
  animation-delay: 25ms;
  animation-play-state: running;
  will-change: transform;
  transform: translate3d(-15px, 0, 0) rotate(0deg);
}
@keyframes spinnerCheck {
  0% {
    transform: translate3d(15px, 0, 0) rotate(-360deg);
  }
  100% {
    transform: translate3d(-15px, 0, 0) rotate(0deg);
  }
}

.order-block {
  text-align: center;
  margin: 40px 0 50px 0;
}

@media (min-width: 768px) {
  .menu__title {
    padding-left: 10px;
    padding-right: 65px;
  }
  .menu__title h1 {
    font-size: 52px;
  }
  .menu__title > .fas {
    font-size: 4em;
  }

  .cards {
    height: 300px;
  }

  .cards--xl {
    height: 400px;
  }

  .starters__description:hover,
.dishes__description:hover,
.desserts__description:hover {
    /* MOOVING */
  }
  .starters__description:hover span,
.dishes__description:hover span,
.desserts__description:hover span {
    transition: transform 2s cubic-bezier(0.05, 1.05, 0.07, 1.01);
    transform: translateX(-60px);
  }
  .starters__description:hover .selected,
.dishes__description:hover .selected,
.desserts__description:hover .selected {
    transition: transform 2s cubic-bezier(0.05, 1.05, 0.07, 1.01);
    transform: translateX(-100px);
  }
  .starters__description:hover .selected::after,
.dishes__description:hover .selected::after,
.desserts__description:hover .selected::after {
    margin-left: 60px;
    animation: 800ms linear spinnerCheck;
    animation-delay: 25ms;
    animation-play-state: running;
    will-change: transform;
    transform: translate3d(-20px, 0, 0) rotate(0deg);
  }
  @keyframes spinnerCheck {
    0% {
      transform: translate3d(20px, 0, 0) rotate(-360deg);
    }
    100% {
      transform: translate3d(-20px, 0, 0) rotate(0deg);
    }
  }
}
@media (min-width: 1025px) {
  .menu {
    width: 80%;
    font-size: 0.6em;
  }
  .menu h3 {
    font-size: 1.2em;
  }
  .menu .menu-photo {
    z-index: inherit;
    transform-origin: bottom;
    animation: fadeInImg 2s ease-in-out;
  }
  .menu .menu-photo img {
    z-index: inherit;
    height: 400px;
    animation: imgMoveDown 1.5s ease-in-out;
    position: relative;
  }
  @keyframes imgMoveDown {
    from {
      top: -300px;
    }
    to {
      top: 0px;
    }
  }
  @keyframes fadeInImg {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .menu .menu-block {
    z-index: inherit;
    border-radius: 0 0 0 0;
    margin-top: 0px;
    padding-top: 10px;
  }
  .menu .menu__title {
    padding-left: 40px;
    padding-right: 60px;
  }

  .menu-lists {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    width: 100%;
  }

  .cards {
    height: 300px;
  }

  .cards--xl {
    height: 400px;
  }

  .starters,
.dishes,
.desserts {
    width: 100%;
    margin-top: 0px;
  }

  .starters-card,
.dishes-card,
.desserts-card {
    width: 90%;
  }
  .starters-card a,
.starters-card a,
.starters-card a,
.dishes-card a,
.dishes-card a,
.dishes-card a,
.desserts-card a,
.desserts-card a,
.desserts-card a {
    width: 100%;
    cursor: pointer;
  }
  .starters-card a:hover,
.starters-card a:hover,
.starters-card a:hover,
.dishes-card a:hover,
.dishes-card a:hover,
.dishes-card a:hover,
.desserts-card a:hover,
.desserts-card a:hover,
.desserts-card a:hover {
    box-shadow: 0px 5px 6px 0px rgba(153, 226, 208, 0.8);
  }

  .starters__description:hover,
.dishes__description:hover,
.desserts__description:hover {
    /* MOOVING */
  }
  .starters__description:hover span,
.dishes__description:hover span,
.desserts__description:hover span {
    transition: transform 2s cubic-bezier(0.05, 1, 0.07, 1);
    transform: translateX(-50px);
  }
  .starters__description:hover .selected,
.dishes__description:hover .selected,
.desserts__description:hover .selected {
    transition: transform 1.8s cubic-bezier(0.05, 1, 0.07, 1);
    transform: translateX(-100px);
  }
  .starters__description:hover .selected::after,
.dishes__description:hover .selected::after,
.desserts__description:hover .selected::after {
    margin-left: 55px;
    animation: 700ms linear spinnerCheck;
    will-change: transform;
    transform: translate3d(-25px, 0, 0) rotate(0deg);
  }
  @keyframes spinnerCheck {
    5% {
      transform: translate3d(0, 0, 0) rotate(-360deg);
    }
    100% {
      transform: translate3d(-25px, 0, 0) rotate(0deg);
    }
  }

  .order-block {
    margin: 70px 0 60px 0;
  }
}

/*# sourceMappingURL=style.css.map */
