.section-menu {
    @include flex-column;
    width: 100%;
    background-color: $background-secondary;
}

.menu-photo {
    width: 100%;
    z-index: 2;
    &>img {
        object-fit: cover;
        height: 320px;
        width: 100%;
        animation: imgShowUp 2s ease-in-out;
        @keyframes imgShowUp {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }
}

.menu-block {
    border-radius: 45px 45px 0 0;
    margin-top: -50px;
    padding-top: 10px;
    z-index: 3;
    background-color: $background-secondary;
}

.menu__title {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 40px;
    h1 {
        font-size: 28px;
    }
    &>.fas {
        font-size: 2em;
    }
}

.starters,
.dishes,
.desserts {
    margin-top: 30px;
}

.cards {
    @include flex-column;
    justify-content: space-around;
    align-items: center;
    height: 270px;
}

.cards--xl {
    height: 360px;
}

.starters-card,
.dishes-card,
.desserts-card {
    & a {
        overflow: hidden;
    }
    width: 95%;
    position: relative;
    transform-origin: top;
    &:nth-child(1) {
        animation: firstFromX 2.4s ease-in;
        @keyframes firstFromX {
            from {
                opacity: 0;
                top: 20px;
            }
            to {
                opacity: 1;
                top: 0px;
            }
        }
    }
    &:nth-child(2) {
        animation: secondFromX 2.5s ease-in;
        @keyframes secondFromX {
            from {
                opacity: 0;
                top: 25px;
            }
            25% {
                opacity: 0;
                top: 25px;
            }
            30% {
                top: 25px;
            }
            to {
                opacity: 1;
                top: 0px;
            }
        }
    }
    &:nth-child(3) {
        animation: thirdFromX 2.5s ease-in;
        @keyframes thirdFromX {
            from {
                opacity: 0;
                top: 5px;
            }
            30% {
                opacity: 0;
                top: 5px;
            }
            35% {
                top: 5px;
            }
            to {
                opacity: 1;
                top: 0px;
            }
        }
    }
    &:nth-child(4) {
        animation: thirdFromX 2.8s ease-in;
        @keyframes thirdFromX {
            from {
                opacity: 0;
                top: 46px;
            }
            35% {
                opacity: 0;
                top: 46px;
            }
            to {
                opacity: 1;
                top: 0px;
            }
        }
    }
}

.starters__button,
.dishes__button,
.desserts__button {
    @include flex-column;
    width: 100%;
    font-family: 'text-medium';
    display: flex;
    justify-content: center;
    align-content: center;
}

.starters__description,
.dishes__description,
.desserts__description {
    display: grid;
    grid-template-columns: 85% 15%;
    h3,
    p {
        margin: 3px 0 3px 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 90%;
    }
    h3 {
        grid-column: 1;
        grid-row: 1;
        padding: 10px 0px 0px 15px;
    }
    p {
        font-family: 'text-light';
        grid-column: 1;
        grid-row: 2;
        padding: 0px 0px 10px 15px;
    }
    span {
        grid-column: 2;
        grid-row: 2;
        color: $darkgrey;
    }
    &:hover {
        /* MOOVING */
        & span {
            transition: transform 2s cubic-bezier(.05, 1.05, .07, 1.01);
            transform: translateX(-60px);
        }
        & .selected {
            transition: transform 2s cubic-bezier(.05, 1.05, .07, 1.01);
            transform: translateX(-100px);
            left: 100px;
            height: 100%;
            width: 100%;
            grid-row: 1/3;
            grid-column: 2;
            padding-top: 25px;
            position: relative;
            background-color: $third-color;
            &::after {
                content: "\f058";
                font-family: "Font Awesome 5 Free";
                color: white;
                margin-left: 30px;
                font-size: 30px;
                position: absolute;
                animation: 800ms linear spinnerCheck;
                animation-delay: 25ms;
                animation-play-state: running;
                will-change: transform;
                transform: translate3d(-15px, 0, 0) rotate(0deg);
                @keyframes spinnerCheck {
                    0% {
                        transform: translate3d(15px, 0, 0) rotate(-360deg);
                    }
                    100% {
                        transform: translate3d(-15px, 0, 0) rotate(0deg);
                    }
                }
            }
        }
    }
}

.order-block {
    text-align: center;
    margin: 40px 0 50px 0;
}

@media (min-width: 768px) {
    .menu__title {
        padding-left: 10px;
        padding-right: 65px;
        h1 {
            font-size: 52px;
        }
        &>.fas {
            font-size: 4em;
        }
    }
    .cards {
        height: 300px;
    }
    .cards--xl {
        height: 400px;
    }
    .starters__description,
    .dishes__description,
    .desserts__description {
        &:hover {
            /* MOOVING */
            & span {
                transition: transform 2s cubic-bezier(.05, 1.05, .07, 1.01);
                transform: translateX(-60px);
            }
            & .selected {
                transition: transform 2s cubic-bezier(.05, 1.05, .07, 1.01);
                transform: translateX(-100px);
                &::after {
                    margin-left: 60px;
                    animation: 800ms linear spinnerCheck;
                    animation-delay: 25ms;
                    animation-play-state: running;
                    will-change: transform;
                    transform: translate3d(-20px, 0, 0) rotate(0deg);
                    @keyframes spinnerCheck {
                        0% {
                            transform: translate3d(20px, 0, 0) rotate(-360deg);
                        }
                        100% {
                            transform: translate3d(-20px, 0, 0) rotate(0deg);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1025px) {
    .menu {
        width: 80%;
        font-size: 0.6em;
        h3 {
            font-size: 1.2em;
        }
        .menu-photo {
            z-index: inherit;
            & img {
                z-index: inherit;
                height: 400px;
                animation: imgMoveDown 1.5s ease-in-out;
                position: relative;
                @keyframes imgMoveDown {
                    from {
                        top: -300px;
                    }
                    to {
                        top: 0px;
                    }
                }
            }
            transform-origin: bottom;
            animation: fadeInImg 2s ease-in-out;
            @keyframes fadeInImg {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
        }
        .menu-block {
            z-index: inherit;
            border-radius: 0 0 0 0;
            margin-top: 0px;
            padding-top: 10px;
        }
        .menu__title {
            padding-left: 40px;
            padding-right: 60px;
        }
    }
    .menu-lists {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
        width: 100%;
    }
    .cards {
        height: 300px;
    }
    .cards--xl {
        height: 400px;
    }
    .starters,
    .dishes,
    .desserts {
        width: 100%;
        margin-top: 0px;
    }
    .starters-card,
    .dishes-card,
    .desserts-card {
        width: 90%;
        a,
        a,
        a {
            width: 100%;
            cursor: pointer;
            &:hover {
                @include shadow-under-lightGreen;
            }
        }
    }
    .starters__description,
    .dishes__description,
    .desserts__description {
        &:hover {
            /* MOOVING */
            & span {
                transition: transform 2s cubic-bezier(.05, 1.00, .07, 1.00);
                transform: translateX(-50px);
            }
            & .selected {
                transition: transform 1.8s cubic-bezier(.05, 1.00, .07, 1.00);
                transform: translateX(-100px);
                &::after {
                    margin-left: 55px;
                    animation: 700ms linear spinnerCheck;
                    will-change: transform;
                    transform: translate3d(-25px, 0, 0) rotate(0deg);
                    @keyframes spinnerCheck {
                        5% {
                            transform: translate3d(0, 0, 0) rotate(-360deg);
                        }
                        100% {
                            transform: translate3d(-25px, 0, 0) rotate(0deg);
                        }
                    }
                }
            }
        }
    }
    .order-block {
        margin: 70px 0 60px 0;
    }
}