/* Restaurants containers */

#section-restaurants {
    margin-top: 50px;
}

.restaurants-block {
    @include flex-column;
    background-color: $background-secondary;
    align-content: center;
    height: 100%;
    width: 100%;
    padding-top: 30px;
}

.restaurants-cards {
    @include flex-column;
    margin-top: 15px;
    align-self: center;
    width: 90%;
    margin-bottom: 50px;
}

.restaurants-cards>a {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
}

.card-container {
    @include flex-column;
    @include shadow-under-lightGrey;
    border-radius: 20px;
    background-color: white;
}

.card__label {
    color: $fourth-color;
    background-color: $third-color;
    padding: 2px 10px 2px 10px;
    border: solid transparent 1px;
    position: absolute;
    right: 10%;
    margin: 15px 0px 5px 0px;
    cursor: default;
}

.card__photo img {
    height: 200px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.card__description {
    padding: 10px 0px 15px 20px;
    display: grid;
    grid-template-columns: 85% 15%;
    grid-auto-flow: column;
    h3 {
        grid-column: 1;
        grid-row: 1;
    }
    p {
        grid-column: 1;
        grid-row: 2;
        font-family: 'text-light';
        margin: 0;
        padding: 0;
    }
    i {
        grid-column: 2;
        grid-row: 1/3;
        text-align: center;
        align-self: center;
        font-size: 2em;
    }
}

@media (min-width: 768px) {
    .restaurants-cards {
        margin-top: 15px;
        align-self: center;
        width: 80%;
        a {
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
    .card__label {
        padding: 2px 10px 2px 10px;
        right: 12%;
        margin: 15px 0px 5px 0px;
    }
    .card__photo img {
        height: 315px;
    }
}

@media (min-width: 1025px) {
    #section-restaurants {
        margin-top: 30px;
    }
    .restaurants-block {
        padding-top: 30px;
    }
    .restaurants-cards {
        display: grid;
        column-gap: 55px;
        row-gap: 20px;
        width: 80%;
        margin-top: 30px;
        &>a {
            margin-top: 10px;
            margin-bottom: 20px;
            width: 100%;
        }
    }
    .card-container {
        &:hover {
            transition: all 2s;
            @include shadow-under-grey;
        }
    }
    .card1,
    .card2 {
        grid-row: 1;
    }
    .card3,
    .card4 {
        grid-row: 2;
    }
    .card1,
    .card3 {
        grid-column: 1;
    }
    .card2,
    .card4 {
        grid-column: 2;
    }
    .card__label {
        position: inherit;
        padding-left: 20px;
        margin: -5px 0 0 0;
        order: 2;
        animation: labelShowDown 3.5s;
        @keyframes labelShowDown {
            0% {
                opacity: 0;
            }
            70% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
    .card__photo {
        order: 1;
        img {
            height: 260px;
            animation: imgShowUp 3s;
            @keyframes imgShowUp {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }
    }
    .card__description {
        order: 3;
    }
}