.work-block {
    padding: 30px 0 30px 0;
}

.work-list {
    @include flex-column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    margin-top: 20px;
}

.work-selection {
    display: flex;
    align-items: center;
    width: 80%;
}

.selection__label {
    margin-right: -15px;
    color: white;
    background-color: $primary-color;
    padding: 3px 9px 3px 9px;
    border-radius: 50%;
    z-index: 1;
}

.selection__button {
    width: 100%;
    font-family: 'text-medium';
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
     :nth-child(1) {
        color: $darkgrey;
        width: 35px;
        text-align: center;
        margin-right: 10px;
    }
    span:nth-child(2) {
        width: 90%;
        text-align: left;
        color: black;
    }
}

.button--grey span {
    color: grey;
}

.button--lightPurple span {
    color: $primary-color;
}


/* TABLETTE */

@media (min-width: 768px) {
    .work-selection {
        width: 60%;
    }
    .selection__button {
         :nth-child(1) {
            width: 50px;
            margin-right: 20px;
        }
        span:nth-child(2) {
            width: 95%;
            text-align: left;
            color: black;
        }
    }
}


/* DESKTOP */

@media (min-width: 1025px) {
    .work-selection {
        width: 45%;
    }
    .selection__label {
        padding: 5px 11px 5px 11px;
    }
}