/* STRUCTURE */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'text';
    font-size: 1em;
    max-width: 100%;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

section,
main {
    width: 100%;
}


/* INDEX TITLES STYLES & SIZES */

.index {
    h1 {
        font-family: 'text-bold';
        font-size: $title-size-big;
        margin: inherit;
    }
    h2 {
        padding-left: 20px;
        font-family: 'text-bold';
        font-size: $title-size-big;
        margin: inherit;
    }
    h3,
    h4 {
        font-family: 'text-medium';
        font-size: $title-size-sma;
        margin: inherit;
    }
}


/* MENU TITLES STYLES & SIZES */

.menu {
    h1 {
        font-family: 'title';
        padding-left: 20px;
    }
    h2 {
        font-family: 'text-light';
        font-size: $title-size-sma;
        width: 10%;
        margin-left: 10px;
        margin-bottom: 20px;
        border-bottom: 3px solid $third-color;
    }
}


/* LINKS & LISTS STYLES */

button {
    cursor: pointer;
}

a,
li,
ul,
ol {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* TABLETTE */

@media (min-width: 768px) {
    /* INDEX TITLES STYLES & SIZES */
    .index {
        h1 {
            font-family: 'text-bold';
            font-size: $title-size-big;
            margin: inherit;
        }
        h2 {
            padding-left: 80px;
            font-family: 'text-bold';
            font-size: $title-size-big;
            margin: inherit;
        }
        h3,
        h4 {
            font-family: 'text-medium';
            font-size: $title-size-sma;
            margin: inherit;
        }
    }
    /* MENU TITLES STYLES & SIZES */
    .menu {
        h1 {
            font-size: 3em;
        }
        h2 {
            font-size: $title-size-big;
            width: 7%;
        }
        h3 {
            font-family: 'text-medium';
            font-size: $title-size-med;
        }
        span {
            font-size: $title-size-sma;
        }
    }
}

@media (min-width: 1025px) {
    html {
        @include shadow-under-lightGrey;
        display: table;
        margin: auto;
        height: 100%;
        width: 100%;
    }
    body {
        font-size: 1.1em;
    }
    main {
        width: 80%;
        margin: auto;
    }
    .menu h1 {
        text-align: center;
        padding-left: 0;
    }
}