/* COLORS */

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$background-secondary :#F2F2F2;
$background-third: #e4e4e4;
$darkgrey :#383838;

/*SIZES*/

$title-size-big: 1.8em;
$title-size-med: 1.6em;
$title-size-sma: 1.3em;