footer {
    padding: 20px 0 20px 0px;
    margin: 0px;
    background-color: $darkgrey;
    color: white;
    padding-bottom: 30px;
    &>* {
        padding-left: 20px;
    }
    & p {
        font-family: 'title';
        font-size: $title-size-sma;
    }
}

ul li {
    padding-bottom: 5px;
}

.fa-utensils+a {
    margin-left: 9px;
}

.fa-hands-helping+a {
    margin-left: 3px;
}

@media (min-width: 1025px) {
    footer {
        padding-top: 10px;
    }
    footer>* {
        padding-left: 60px;
    }
    ul {
        display: grid;
        grid-template-columns: 25% 25%;
    }
    li {
        &:nth-child(1),
        &:nth-child(2) {
            grid-column: 1;
        }
        &:nth-child(3),
        &:nth-child(4) {
            grid-column: 2;
        }
        &:nth-child(1),
        &:nth-child(3) {
            grid-row: 1;
        }
        &:nth-child(2),
        &:nth-child(4) {
            grid-row: 2;
        }
    }
}