.header-block {
    @include flex-column;
}

.header__title {
    @include shadow-under-lightGrey;
    font-size: $title-size-big;
    font-family: 'title';
    text-align: center;
    padding: 15px 0 5px 0;
    z-index: 2;
}

.header-menu {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    & a:first-child {
        position: absolute;
        left: 20px;
        color: $darkgrey;
         :hover {
            color: $primary-color;
        }
    }
}

.header__location {
    background: $background-third;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    color: $darkgrey;
    width: 100%;
    z-index: 1;
    &>.fa-map-marker-alt {
        margin-right: 15px;
    }
}

@media (min-width: 768px) {
    .header__title {
        padding: 20px 0 15px 0;
        & .fa-arrow-left {
            font-size: 1em;
        }
    }
}

@media (min-width: 1025px) {
    .header__title {
        position: fixed;
        top: 0;
        background-color: white;
        width: 100%;
        &+* {
            padding-top: 80px;
        }
    }
    .header__location {
        width: 80%;
        margin: auto;
        &>.fa-map-marker-alt:hover {
            color: $third-color;
        }
    }
}